body
{
    background: url("../images/skyline.jpg") repeat-x scroll left bottom #5BB1CA;
    margin: 0 0 0 0;
    font-size: 12px;
    font-family: verdana,arial,sans-serif;
    color: #333333;
}

textarea, input, select
{
    padding: 5px;
}

#wrapper
{
    margin: 0 auto 0 auto;
    width: 1000px;
}

#navbar
{
    height: 10px;
    background-color: #117491;
}

#logo
{
    width: 202px;
    float: left;
    margin-top: 5px;
}

#logo a
{
    background: url("../images/logo_beta.jpg") no-repeat transparent;
    cursor: pointer;
    display: block;
    height: 99px;
    line-height: 84px;
    text-indent: -500em;
    width: 218px;
}

#menu
{
    float: right;
    margin-right: 30px;
}

#menu ul
{
    margin-top: 66px;
}

#menu ul li
{
    list-style: none;
    display: inline;
    text-align: center;
    float: left;
    margin-right: 5px;
}

#menu ul li a
{
    color: White;
    display: block;
    font-size: 20px;
    text-decoration: none;
    width: 128px;
    height: 29px;
    padding-top: 8px;
}

#menu ul li a.green
{
    background: url("../images/1.jpg") no-repeat transparent;
}

#menu ul li a.orange
{
    background: url("../images/2.jpg") no-repeat scroll transparent;
}

#menu ul li a.pink
{
    background: url("../images/3.jpg") no-repeat scroll transparent;
}

#menu ul li a.pinkdark
{
    background: url("../images/4.jpg") no-repeat scroll transparent;
}

#content
{
    background-color: White; /*background: White url(../images/vshadow.png) repeat-y right;*/
    padding: 20px;
    width: 960px;
}

#hshadow
{
    width: 1000px;
    height: 10px;
    margin-right: 6px;
    background: url(../images/hshadow.png) repeat-x;
}

#footer
{
    height: 150px;
    text-align: center;
    color: White;
}

#footer a
{
    color: White;
    text-decoration: none;
}

#content .presentation
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 980px;
}

#content .home
{
    background: url(../images/bk_box_centre.jpg) no-repeat;
    float: left;
    width: 445px;
    background-color: #5BB1CA;
    margin: 0 12px 0 12px;
    height: 110px;
}

#content .home h2
{
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}

#content .home .input
{
    background-color: #FFFFFF;
    padding: 3px;
    margin: 0 10px 0 10px;
    color: Grey;
}

#content .home select
{
    width: 130px;
    border: none;
    color: Grey;
    float: right;
}

#content .home input.search
{
    width: 250px;
    border: none;
    color: Grey;
}

#content .home input.gobutton
{
    margin-top: 5px;
    background: url(../images/segnala_button.jpg) no-repeat;
}

#content .statsBox
{
    width: 244px;
    height: 90px;
    float: left;
    padding-top: 23px;
}

#content .statsBox div
{
    width: 155px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: White;
}

#content .statsBox div div
{
    font-size: 20px;
}

#content .totalSignals
{
    background: url(../images/bk_box_sx.jpg) no-repeat;
}

#content .resolvedSignals
{
    background: url(../images/bk_box_dx.jpg) no-repeat;
}

#content .claim
{
    text-align: center;
    margin-bottom: 10px;
}

#content .claim a
{
    background: url(../images/claimhome.png) no-repeat;
    display: block;
    height: 233px;
    margin: 0 auto 0 auto;
}


#content h1.title
{
    font-size: 16px;
    min-height: 20px;
    padding: 0 0 7px 0;
    background: url(../images/minitabline.jpg) repeat-x bottom;
}

.clear
{
    clear: both;
}

.twocols .left
{
    display: inline;
    float: left;
    width: 450px;
    margin-right: 20px;
}

.twocols .right
{
    float: left;
    width: 480px;
}

.submitForm ol li
{
    list-style: none;
    margin: 10px 5px 0 0px;
}

.submitForm ol li span.generic
{
    line-height: 1.8;
}

.submitForm ol li label
{
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
    width: 120px;
}

.submitForm ol li input, .submitForm ol li select
{
    padding: 5px;
    width: 250px;
    border: solid 1px #5BB1CA;
}

.submitForm ol li input:focus, .submitForm ol li textarea:focus, .submitForm ol li select:focus
{
    border: solid 1px #5CCA69;
}

.submitForm ol li textarea
{
    width: 260px;
    height: 150px;
    border: solid 1px #5BB1CA;
}

.submitForm ol li div.legend
{
    font-size: 10px;
    font-style: italic;
    margin: 5px 0 5px 125px;
}

.submitForm ol li div.subfield
{
    margin: 5px 0 5px 125px;
}

.submitForm ol li span.checkbox input
{
    width: auto;
}

.submitForm ol li div.subfield label
{
    margin: 0 0 0 0;
    width: auto;
    display: inline;
}

.submitForm div.buttons
{
    text-align: right;
    margin: 10px 0 10px 0;
    padding-top: 10px;
    border-top: solid 1px #117493;
}

input.success
{
    background: transparent url(../images/greenbutton.png) no-repeat;
}

input.reset
{
    background: transparent url(../images/redbutton.png) no-repeat;
}

input[type=button], input[type=reset]
{
    height: 30px;
    width: 120px;
    border: none;
    color: White;
    font-weight: bold;
}

#content .mapTabs ul
{
    background: url(../images/minitabline.jpg) repeat-x bottom;
}

#content .map
{
    width: 470px;
    height: 500px;
}

#content .details
{
    margin-top: 5px;
}

#content .details .info, #infoWindowContainer .info
{
    color: #5BB1CA;
    font-size: 10px;
}

#content .details .info span
{
    font-weight: bold;
}

#content .details .description
{
    margin-top: 20px;
    border: solid 1px #5BB1CA;
    padding: 10px;
    font-size: 12px;
}

#content .details .tools
{
    padding: 1px 0 15px;
    margin-top: 20px;
    background-color: #5BB1CA;
}

#content .details .tools ul li
{
    list-style: none;
    float: left;
    margin-right: 10px;
}

#content .details .tools ul li a
{
    text-decoration: none;
    color: White;
    font-weight: bold;
    display: block;
    margin-right: 5px;
    padding: 5px;
    background-color: #117491;
}

#content .details .serviceBox
{
    display: none;
    padding: 10px;
    margin: 10px 0 0 20px;
    border: solid 1px #5BB1CA;
}

#content .details .shareBox ul li
{
    list-style: none;
    float: left;
}

#content .details .shareBox ul li a
{
    margin-right: 10px;
}

#content .details .shareBox ul li a img
{
    vertical-align: middle;
}

#content .mapTabs
{
    margin-top: 5px;
}

#content .details .photo
{
    margin-top: 20px;
    text-align: center;
}

#content .details .photo img
{
    width: 350px;
}

#content .list
{
    margin-top: 20px;
    padding-right: 10px;
}

#content .list div
{
    float: left;
}

#content .list .item
{
    background-color: #E0E5F5;
    padding: 5px;
    margin-bottom: 1px;
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
}

#content .list .alt-item
{
    background-color: #D6DDEF;
    padding: 5px;
    margin-bottom: 1px;
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
}

#content .list div.title
{
    font-size: 12px;
    font-weight: bold;
    width: 370px;
    height: 25px;
}

#content .list div.title a
{
    text-decoration: none;
    color: #117491;
}

#content .list div.title img
{
    vertical-align: middle;
}

#content .list div.legend
{
    font-size: 10px;
    margin-top: 5px;
}

#content .list div.legend span
{
    font-weight: bold;
}

#content .list div.status
{
    margin-right: 10px;
}

#content .list .pagination
{
    width: 100%;
    margin-right: 10px;
}

#content .list .pagination ul
{
    float: right;
}

#content .list .pagination li
{
    float: left;
    list-style-type: none;
}

#content .list .pagination li a
{
    text-decoration: none;
    background-color: #5BB1CA;
    padding: 6px;
    margin-right: 5px;
    color: White;
}

#content .list .comment
{
    float: none;
    margin-bottom: 5px;
}

.infoboxblu
{
    background: url("../images/homemsgbk.jpg") no-repeat scroll transparent;
    text-align: center;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
}

.infoboxblu a
{
    color: #DFB054;
    text-decoration: none;
}

/* UTILS */
.message
{
    padding: 10px;
    color: White;
    font-weight: bold;
    display: none;
}

.success
{
    background-color: #5CCA69;
}

.error
{
    background-color: #F3A29A;
    border-color: Red;
}

.ajax
{
    background-color: #5BB1CA;
    border-color: #117491;
    text-align: center;
}

.error h2, .success h2
{
    font-size: 16px;
    line-height: 0.4;
}

.error a, .success a
{
    color: #E0E5F5;
    text-decoration: none;
}

.fieldError
{
    border-color: Red;
}

#content .serviceBox .list
{
    margin-top: 0;
}

#content .serviceBox .message
{
    /*width: 435px;*/
}

#content .serviceBox .list .item, #content .serviceBox .list .alt-item, #content .serviceBox .list .pagination
{
    /*width: 450px;*/
}

#content .serviceBox .submitForm ol li label
{
    width: 100px;
}

#content .serviceBox .submitForm ol li textarea, #content .serviceBox .submitForm ol li input[type=text]
{
    width: 240px;
}

#content .list .photo
{
    width: 100%;
    text-align: center;
}

#content .list .photo img
{
    width: 300px;
}

#content .full
{
    width: 960px;
}

#infoWindowContainer
{
    min-height: 90px;
}

#infoWindowContainer h2
{
    font-size: 13px;
    color: #5BB1CA;
}

#infoWindowContainer a
{
    margin-top: 5px;
    text-decoration: none;
    color: #117491;
    font-weight: bold;
    font-size: 11px;
    display: block;
}

#infoWindowContainer .image
{
    text-align: center;
    margin-top: 5px;
}

dl
{
}

dt
{
    font-weight: bold;
    margin: 10px 0 5px 0;
}

dd
{
    line-height: 1.5;
}

.full h2
{
    font-size: 14px;
    border-bottom: 1px solid;
}

.facebook-button
{
    background: url("http://static.ak.fbcdn.net/rsrc.php/zL/r/FGFbc80dUKj.png") no-repeat left -188px #5F78AB;
    border: none;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    margin: 1px 1px 0 21px;
    padding: 2px 24px 2px;
    cursor: pointer;
}



