<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<section name="rewrite" type="OpenSignals.Framework.Core.Configuration.RewriteConfigurationSection, OpenSignals.Framework"/>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
	</configSections>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network defaultCredentials="false" host="smtp.reply.it" port="25" userName="!qtek" password="Reply.96"/>
			</smtp>
		</mailSettings>
	</system.net>	
	<system.web>
    <authentication mode="Forms">
      <forms loginUrl="/Admin/Login.aspx" name=".openSignalsAuth"/>
    </authentication>
    <machineKey validationKey="6B273C4480B24C892FFEB485CC0D281C245AC0B54B09662EE3FB76CCF8E379E21FFB0BFB0A830287D9FFBDBC4DE6D67E1911A54DF69ACA6E317D3418050942A8" decryptionKey="2416B03F44D5C58C7958742EA3F242EFD6F69A06100935AEE8BCC7CF918DB9D3" validation="SHA1" decryption="AES"/>
    <membership defaultProvider="OpenSignalsMembershipProvider">
      <providers>
        <add name="OpenSignalsMembershipProvider" type="OpenSignals.Framework.Profiles.ProfileManager" 
             requiresQuestionAndAnswer="false" writeExceptionsToEventLog="false"/>
      </providers>
    </membership>
		<compilation debug="true" />
    <pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="os" namespace="OpenSignals.Framework.Web.Controls" assembly="OpenSignals.Framework"/>
			</controls>
		</pages>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<rewrite>
		<rules>
			<rule url="/(.*)/(.*)/invia.aspx" to="~/Submit.aspx?city=$1&amp;address=$2"/>
			<rule url="/(.*)/invia.aspx" to="~/Submit.aspx?city=$1"/>
            <rule url="/(.*)/index.aspx" to="~/Default.aspx?city=$1"/>
			<rule url="/(.*)/(.*)/segnalazione.aspx" to="~/Detail.aspx?id=$2&amp;city=$1"/>
			<rule url="/(.*)/cerca.aspx" to="~/Search.aspx?city=$1"/>
			<rule url="/pages/info.aspx" to="~/Content.aspx?page=info"/>
			<rule url="/pages/privacy.aspx" to="~/Content.aspx?page=privacy"/>
			<rule url="/pages/come-funziona.aspx" to="~/Content.aspx?page=howitworks"/>
            <rule url="/(.*)/rss.aspx" to="~/Rss.ashx?city=$1"/>
            <rule url="/(.*)/georss.aspx" to="~/Rss.ashx?city=$1&amp;type=geo"/>
            <rule url="/(.*)/crea.aspx" to="~/AddPlace.aspx?city=$1"></rule>
		</rules>
	</rewrite>
	<log4net>
		<appender name="NHibernateAppender" type="log4net.Appender.RollingFileAppender">
			<file value="d:\\logs\\fixmi\\nhibernate.log"/>
			<appendToFile value="true"/>
			<maximumFileSize value="1000KB"/>
			<maxSizeRollBackups value="2"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %thread %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="NHibernateSQLAppender" type="log4net.Appender.RollingFileAppender">
			<file value="d:\\logs\\fixmi\\nhibernate-sql.log"/>
			<appendToFile value="true"/>
			<maximumFileSize value="1000KB"/>
			<maxSizeRollBackups value="2"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %thread %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="SystemAppender" type="log4net.Appender.RollingFileAppender">
			<file value="d:\\logs\\fixmi\\system.log"/>
			<appendToFile value="true"/>
			<maximumFileSize value="1000KB"/>
			<maxSizeRollBackups value="2"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %thread %logger - %message%newline"/>
			</layout>
		</appender>
		<logger name="NHibernate">
			<level value="ALL"/>
			<appender-ref ref="NHibernateAppender"/>
		</logger>
		<logger name="NHibernate.SQL">
			<level value="ALL"/>
			<appender-ref ref="NHibernateSQLAppender"/>
		</logger>
		<logger name="System">
			<level value="ALL"/>
			<appender-ref ref="SystemAppender"/>
		</logger>
	</log4net>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory name="">
      <property name="current_session_context_class">
        managed_web
      </property>
			<property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
			<property name="connection.driver_class">
        NHibernate.Driver.MySqlDataDriver
      </property>
			<property name="connection.connection_string">
        Server=localhost;Database=opensignals;Uid=root;Pwd=;
      </property>
			<property name="dialect">
        NHibernate.Dialect.MySQL5Dialect
      </property>
			<property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
			<mapping assembly="OpenSignals.Framework"/>
		</session-factory>
	</hibernate-configuration>
</configuration>
