<?xml version="1.0"?>
<configuration>
  <location path="~/Admin/Login.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <allow users="?" />
    </authorization>
    <pages enableEventValidation="false">
      <controls>
        <add tagPrefix="osAdmin" tagName="Head" src="/Admin/Includes/Head.ascx" />
        <add tagPrefix="osAdmin" tagName="Footer" src="/Admin/Includes/Footer.ascx" />
        <add tagPrefix="osAdmin" tagName="Header" src="/Admin/Includes/Header.ascx" />
      </controls>      
    </pages>
  </system.web>
</configuration>
