@import url(/css/utils.css);

body
{
    background-color: #5BB1CA;
    margin: 0 0 0 0;
    font-size: 14px;
    font-family: verdana,arial,sans-serif;
    color: #333333;
}

.content h1
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #5BB1CA;
    color: #5BB1CA;
    font-size: 16px;
    padding: 3px;
    text-align: center;
}

.ui-body-b,.ui-body-c,.ui-body-a,.ui-body-d,.ui-body-e
{
    text-shadow: none;
}


