/* UTILS */

input.success
{
    background: transparent url(../images/greenbutton.png) no-repeat;
}

input.reset
{
    background: transparent url(../images/redbutton.png) no-repeat;
}

input[type=button], input[type=reset]
{
    height: 32px;
    width: 120px;
    border: none;
    color: White;
    font-weight: bold;
}

.message
{
    padding: 10px;
    color: White;
    font-weight: bold;
    display: none;
}

.success
{
    background-color: #5CCA69;
}

.error
{
    background-color: #F3A29A;
    border-color: Red;
}

.ajax
{
    background-color: #5BB1CA;
    border-color: #117491;
    text-align: center;
}

.error h2, .success h2
{
    font-size: 16px;
    line-height: 0.4;
}

.error a, .success a
{
    color: #E0E5F5;
    text-decoration: none;
}

.fieldError
{
    border-color: Red;
}

#feedback
{
    padding: 10px;
    width: 250px;
    background: #ffffff;
    border: 1px solid #29216d;
}

#feedback .submitForm ol li input, #feedback  .submitForm ol li textarea
{    
    width: 200px;
}
