/* UTILS */
body
{
    margin: 0 0 0 0;
    font-size: 12px;
    font-family: verdana,arial,sans-serif;
    color: #333333;
}

textarea, input, select
{
    padding: 5px;
}

#wrapper
{
    margin: 0 auto 0 auto;
    width: 1000px;
}

#navbar
{
    height: 10px;
    background-color: #117491;
}

#skyline
{
    background: url("../images/header_repeated.jpg") repeat-x transparent;
    height: 158px;
}

#header
{
    width: 960px;
    margin: 0 auto 0 auto;
}

#logo
{
    float: left;
}

#logo a
{
    background: url("../images/logo.png") no-repeat transparent;
    cursor: pointer;
    display: block;
    height: 137px;
    width: 245px;
}

#menu
{
    float: right;
}

#menu ul.cities
{
    margin: 70px 0 0 -200px;
}

#menu ul.tabs
{
    margin-top: 108px;
}

#menu ul.tabs li
{
    list-style: none;
    display: inline;
    text-align: center;
    float: left;
	margin-right: -4px;
}

#menu ul.tabs li a
{
    color: #236387;
    display: block;
    font-size: 18px;
    text-decoration: none;
    width: 132px;
    height: 35px;
    margin-top: 15px;
}

#menu ul.tabs li a span
{
    display: none;
}

#menu ul.tabs li.homeOff:hover, #menu ul li.homeOn
{
    background: url("../images/tabs/home_on.png") no-repeat transparent;
}

#menu ul.tabs li.homeOff
{
    background: url("../images/tabs/home_off.png") no-repeat transparent;
}

#menu ul.tabs li.tabOn, #menu ul.tabs li.tabOff:hover
{
    background: url("../images/tabs/tab_on.png") no-repeat scroll transparent;
}

#menu ul.tabs li.tabOff
{
    background: url("../images/tabs/tab_off.png") no-repeat scroll transparent;
}

#menu ul.tabs li a.small
{
    width: 59px;
}

#menu ul.tabs li.twitter
{
    background: url("../images/tabs/twitter.png") no-repeat scroll transparent;
}

#menu ul.tabs li.facebook
{
    background: url("../images/tabs/facebook.png") no-repeat scroll transparent;
}

#menu ul.tabs li.rss
{
    background: url("../images/tabs/rss.png") no-repeat scroll transparent;
}

#content
{
    background-color: #FFFFFF;
    padding: 20px;
    width: 956px;
    border-left: solid 1px #E2E2E2;
    border-right: solid 1px #E2E2E2;
}

#footer
{
    font-size: 10px;
    height: 150px;
    text-align: center;
    color: White;
    padding-top: 10px;
    border-bottom: 1px solid #000000;
    background: url(../images/footer.png) repeat-x #236388;
}

#footer a
{
    color: White;
    text-decoration: none;
    font-size: 10px
}

input.success
{
    background: url("/images/button_green.png") repeat scroll 0 0 transparent;
}

input.reset
{
    background: transparent url(../images/redbutton.png) no-repeat;
}

input[type=button], input[type=reset]
{
    height: 34px;
    width: 121px;
    border: none;
    color: White;
    font-weight: bold;
}

.message
{
    padding: 10px;
    color: White;
    font-weight: bold;
    display: none;
}

.success
{
    background-color: #236387;
}

.error
{
    background-color: #F3A29A;
    border-color: Red;
}

.ajax
{
    background-color: #5BB1CA;
    border-color: #117491;
    text-align: center;
}

.error h2, .success h2
{
    font-size: 16px;
}

.error a, .success a
{
    color: #E0E5F5;
    text-decoration: none;
}

.fieldError
{
    border-color: Red;
}

#feedback
{
    padding: 10px;
    width: 250px;
    background: #ffffff;
    border: 1px solid #236388;
}

#feedback .handle
{
    background: url(/images/feedback.png) no-repeat;
    height: 127px;
    width: 44px;    
}

#feedback .submitForm ol li input, #feedback .submitForm ol li textarea
{
    width: 200px;
}

.clear
{
    clear: both;
}
